.form-box{
  background: #fff
}
.form-row{
  margin: 5px 0;
}
.form-item{
  margin-bottom: 0!important;
}
.form-smallTitle{
  margin-left: 5px;
}
.form-msg{
  color: #D2D2D2;
  margin-left: 10px;
}
.form-width{
  width: 200px
}
.form-right{
  text-align: right;
}
.form-line32{
  line-height: 32px
}
.form-btnbox{
  padding: 10px;
  border-top: 1px solid #d8d8d8;
  margin-top: 60px;
  text-align: center;
}
