<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="force-rendering" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="renderer" content="webkit"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <!--载入系统配置文件-->
  <script type="application/javascript">
    var __IS_BROWSER = true;
    console.log('2019年6月24日 10:14:18');
    var origin = window.location.origin;
    var isTest = false;
    var url = ( isTest ? 'http://zyd.cdzhiyong.com:51334' :
            (/(localhost|192.168)/.test(origin) ? 'http://scjoyedu.eicp.net:51334'  : origin))
            + '/config/projectConfig.js';

    document.writeln('<script type="text/javascript" src="'+url+'"><\/script>');
  </script>

</head>

<body>

<div id="root"></div>
</body>





</html>
